.about-care {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $header-black;
  background-image: url('../img/cat_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-care__title {
  width: 230px;
  margin: 0 auto;
  text-align: center;
  @include font_y(28px, 400, 1.15);
  color: $white;
}

.about-care__list {
  margin-top: 40px;
}

.about-care__item {
  margin-bottom: 30px;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.about-care__link {
  display: block;
  width: 290px;
  margin: 0 auto;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 24px;
  padding-right: 48px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid $brown;
  position: relative;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: $footer-black;
  }

  &:hover::after {
    background-color: $footer-black;
  }
}

.about-care__link::after {
  content: '';
  display: block;
  width: 46px;
  height: 100%;
  background-color: $brown;
  background-image: url('../img/button_white.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-left: 1px solid $brown;
  border-right: 1px solid $brown;
  position: absolute;
  top: 0;
  right: 0;
  transition: background-color 0.3s ease-out;
}

.about-care__subtitle {
  margin-bottom: 20px;
  @include font_r(18px, 700, 1.17);
  color: $brown;
}

.about-care__text {
  @include font_r(14px, 300, 1.4);
  color: $white;
}

@media (min-width: 768px) {
  .about-care {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  .about-care__title {
    font-size: 36px;
    width: auto;
  }

  .about-care__item {
    margin-bottom: 20px;
  }

  .about-care__link {
    width: 560px;
    min-height: 170px;
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 95px;

    &::after {
      width: 60px;
    }
  }

  .about-care__subtitle {
    font-size: 22px;
  }

  .about-care__text {
    line-height: 1.6;
  }
}

@media (min-width: 1366px) {
  .about-care__list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 45px;
  }

  .about-care__item {
    margin: 0;
  }
}