.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1366px) {
  .container {
    width: 1366px;
    padding-left: 105px;
    padding-right: 105px;
  }
}