.faq {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $pets-black;
  text-align: center;
}

.faq__title {
  margin-bottom: 30px;
  @include font_y(28px, 400, 1.15);
  color: $white;
}

.faq__subtext {
  width: 180px;
  margin: 0 auto;
  @include font_r(14px, 300, 1.4);
  color: $brown;
}

.faq__list {
  margin-top: 40px;
}

.faq__item {
  min-width: 290px;
  margin: 0 auto 30px;
  border: 1px solid $brown;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.faq__question {
  width: 100%;
  padding: 12px 43px 12px 15px;
  @include font_r(14px, 500, 1.4);
  color: $cream;
  text-align: left;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 43px;
    height: 100%;
    background-color: $brown;
    background-image: url('../img/minus.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.faq__wrapper-text {
  display: none;
  padding: 12px 25px 12px 12px;
  text-align: left;
  border-top: 1px solid $brown;

  &--show {
    display: block;
  }
}

.faq__text {
  margin-bottom: 10px;
  @include font_r(14px, 300, 1.4);
  color: $cream;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .faq {
    padding-top: 140px;
  } 

  .faq__title {
    font-size: 36px;
  }

  .faq__subtext {
    font-size: 16px;
    width: auto;
  }

  .faq__list {
    margin-top: 60px;
    counter-reset: faq-counter;
  }

  .faq__item {
    width: 554px;
    margin: 0 35px 25px auto; 
  }

  .faq__question {
    padding: 20px 141px 20px 30px;
    font-size: 16px;
    counter-increment: faq-counter;

    &::before {
      content: "0"counter(faq-counter);
      margin-top: -29px;
      color: $brown;
      @include font_r(50px, 700, 1.15);
      position: absolute;
      left: -75px;
      top: 50%;
    }

    &::after {
      width: 73px;
    }

  }

  .faq__wrapper-text {
    padding-top: 28px;
    padding-left: 30px;
    padding-bottom: 30px;
    text-align: left;
  }

  .faq__text {
    width: 385px;
    font-size: 16px;
    line-height: 1.55;
  }
}

@media (min-width: 1366px) {
  .faq {
    padding-top: 75px;
    padding-bottom: 85px;
  }

  .faq__title {
    margin-bottom: 25px;
  }

  .faq__list {
    margin-top: 50px;
  }

  .faq__item {
    margin: 0 110px 36px auto;
    width: 795px;
  }

  .faq__question {
    padding: 46px 104px 44px 42px;

    &::before {
      font-size: 70px;
      margin-top: -40px;
      left: -110px;
    }
  }

  .faq__text {
    width: 550px;
  }
}