.features {
  background-color: $pets-black;
  padding-bottom: 50px;
}

.features__title {
  width: 190px;
  margin: 0 auto;
  text-align: center;
  @include font_y(28px, 400, 1.15);
  color: $white;
}

.features__text {
  margin: 30px 0 25px;
  @include font_r(14px, 300, 1.4);
  color: $brown;
  text-align: center;
}

.features__img-effect {
  position: relative;
  &::before {
    content: '';
    display: block;
    margin-left: -115px;
    margin-top: -115px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: $footer-black;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 0;
  }

  &::after {
    content: '';
    display: block;
    margin-left: -140px;
    margin-top: -140px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 1px solid $brown;
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 1;
  }
}

.features__img {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.features__list {
  margin: 0 auto;
  margin-top: 45px;
  width: 254px;
}

.features__item {
  margin-bottom: 25px;
  @include font_r(14px, 300, 1.4);
  color: $white;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $brown;
    position: absolute;
    top: 5px;
    left: -18px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .features {
    position: relative;
    padding-bottom: 95px;
  }

  .features__title {
    width: auto;
    font-size: 36px;
  }

  .features__text {
    width: 445px;
    margin: 20px auto 25px;
    font-size: 16px;
  }

  .features__img-effect {
    position: relative;
    &::before {
      margin-left: -180px;
      margin-top: -174px;
      width: 342px;
      height: 348px;
    }
  
    &::after {
      margin-left: -217px;
      margin-top: -212px;
      width: 416px;
      height: 424px;
    }
  }

  .features__list {
    margin: 0;
    width: auto;
    position: relative;
  }

  .features__item {
    margin-bottom: 0;

    &:nth-child(1) {
      width: 140px;
      text-align: right;
      position: absolute;
      top: -315px;
      left: -6px;

      &::before {
        top: 6px;
        left: 158px;
      }
    }

    &:nth-child(2) {
      width: 127px;
      position: absolute;
      top: -250px;
      right: 9px;
    }

    &:nth-child(3) {
      width: 100px;
      position: absolute;
      top: -100px;
      right: 60px;
    }

    &:nth-child(4) {
      width: 140px;
      text-align: right;
      position: absolute;
      top: -126px;
      left: -5px;

      &::before {
        top: 7px;
        left: 145px;
      }
    }
  }
}

@media (min-width: 1366px) {
  .features {
    padding-bottom: 130px;
  }

  .features__text {
    width: 735px;
    margin-bottom: 35px;
  }

  .features__img-effect {
    &::before {
      margin-left: -270px;
      margin-top: -259px;
      width: 519px;
      height: 519px;
    }
  
    &::after {
      margin-left: -327px;
      margin-top: -315px;
      width: 631px;
      height: 631px;
    }
  }

  .features__item {

    &::before {
      width: 15px;
      height: 15px;
      top: 1px;
      left: -30px;
    }

    &:nth-child(1) {
      width: 237px;
      top: -464px;
      left: 36px;

      &::before {
        top: 1px;
        left: 254px;
      }
    }

    &:nth-child(2) {
      width: 200px;
      top: -360px;
      right: 58px;
    }

    &:nth-child(3) {
      width: 168px;
      top: -144px;
      right: 126px;
    }

    &:nth-child(4) {
      width: 200px;
      top: -181px;
      left: 50px;

      &::before {
        top: 1px;
        left: 218px;
      }
    }
  }
}