.features {
  background-color: $pets-black;
  padding-bottom: 50px;
}

.features__title {
  width: 190px;
  margin: 0 auto;
  text-align: center;
  @include font_y(28px, 400, 1.15);
  color: $white;
}

.features__text {
  margin: 30px 0 25px;
  @include font_r(14px, 300, 1.4);
  color: $brown;
  text-align: center;
}

.features__img-effect {
  position: relative;
  &::before {
    content: '';
    display: block;
    margin-left: -115px;
    margin-top: -115px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: $footer-black;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 0;
  }

  &::after {
    content: '';
    display: block;
    margin-left: -140px;
    margin-top: -140px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 1px solid $brown;
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 1;
  }
}

.features__img {
  display: block;
  margin: 0 auto;
  width: 267px;
  height: 291px;
  position: relative;
  z-index: 2;
}

.features__list {
  margin: 0 auto;
  margin-top: 45px;
  max-width: 254px;
}

.features__item {
  margin-bottom: 25px;
  @include font_r(14px, 300, 1.4);
  color: $white;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $brown;
    position: absolute;
    top: 5px;
    left: -18px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .features {
    position: relative;
    padding-bottom: 95px;
  }

  .features__title {
    width: auto;
    font-size: 36px;
  }

  .features__text {
    width: 445px;
    margin: 20px auto 25px;
  }

  .features__img {
    width: 410px;
    height: auto;
  }

  .features__img-effect {
    position: relative;
    &::before {
      margin-left: -180px;
      margin-top: -180px;
      width: 360px;
      height: 360px;
    }
  
    &::after {
      margin-left: -220px;
      margin-top: -220px;
      width: 440px;
      height: 440px;
    }
  }

  .features__list {
    margin: 0;
    position: relative;
  }

  .features__item {
    margin-bottom: 0;

    &:nth-child(1) {
      width: 140px;
      text-align: right;
      position: absolute;
      top: -323px;
      left: -8px;

      &::before {
        top: 6px;
        left: 158px;
      }
    }

    &:nth-child(2) {
      width: 127px;
      position: absolute;
      top: -252px;
      right: -447px;
    }

    &:nth-child(3) {
      width: 100px;
      position: absolute;
      top: -106px;
      right: -397px;
    }

    &:nth-child(4) {
      width: 140px;
      text-align: right;
      position: absolute;
      top: -126px;
      left: -6px;

      &::before {
        top: 7px;
        left: 145px;
      }
    }
  }
}