.feedback {
  padding-bottom: 60px;
  background-color: $pets-black;
  text-align: center;
}

.feedback__title {
  margin-bottom: 140px;
  @include font_y(28px, 400, 1.15);
  color: $white;
}

.feedback__slider-item {
  position: relative;
}

.feedback__slider-img {
  position: absolute;
  margin-left: -121px;
  margin-top: 121px;
  top: -55%;
  left: 50%;
}

.feedback__content-wrapper {
  width: 290px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 40px;
  background-color: $header-black;
}

.feedback__review {
  margin: 0;
  //margin-top: 30px;
}

.feedback__author-name {
  display: block;
  margin: 0 auto;
  @include font_r(18px, 500, 1.17);
  font-style: normal;
  color: $white;
}

.feedback__author-text {
  width: 230px;
  margin: 0 auto;
  margin-top: 20px;
  @include font_r(14px, 300, 1.4);
  color: rgba(255, 255, 255, 0.72);
}

.feedback__wrapper {
  display: flex;
  width: 178px;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.feedback__feedback-date {
  @include font_r(12px, 400, 1.4);
  color: $brown;
}
.feedback__slider-control {
  width: 8px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  
  &--prev {
    position: absolute;
    top: -10px;
    left: 0;
  }

  &--next {
    transform: rotate(180deg);
    position: absolute;
    top: -10px;
    right: 0;
  }
}

.feedback__social-vk {
  width: 18px;
  height: 10px;
  fill: $brown;
}

.feedback__social-tw {
  width: 16px;
  height: 12px;
  fill: $brown;
}

.feedback__social .social__link {
  display: block;
  width: 28px;
  height: 28px;
  padding-top: 4px;
  border: 1px solid $light-brown;
}

.feedback__social > .social__item:first-child {
  
  order: 2;
}

.feedback__social .social__item:last-child {
  order: 1;
  margin-right: 15px;
}

@media (min-width: 768px) {
  .feedback {
    padding-bottom: 85px;
  }

  .feedback__title {
    font-size: 36px;
  }

  .feedback__content-wrapper {
    width: 578px;
    padding-top: 140px;
    background-color: $footer-black;
  }

  .feedback__author-name {
    font-size: 24px;
  }

  .feedback__author-text {
    width: 400px;
  }
  
  .feedback__wrapper {
    margin-top: 30px;
  }

  .feedback__slider-img {
    margin-left: -151px;
    top: -62%;
  }

  .feedback__slider-control.arrow {
    width: 60px;
    height: 17px;
    background-image: url("../img/arrow_768.svg");
  }

  .feedback__slider-control--prev {
    top: 32px;
    left: 105px;
  }

  .feedback__slider-control--next {
    top: 33px;
    right: 103px;
  }

  .feedback__social-vk {
    width: 13px;
    height: 8px;
  }
  
  .feedback__social-tw {
    width: 14px;
    height: 10px;
    fill: $brown;
  }
}

@media (min-width: 1366px) {
  .feedback {
    padding-bottom: 110px;
  }

  .feedback__title {
    margin-bottom: 60px;
  }

  .feedback__slider-img {
    margin: 0;
    top: 46px;
    left: 100px;
  }

  .feedback__content-wrapper {
    width: 640px;
    margin-right: 40px;
    padding-top: 110px;
    padding-left: 145px;
    padding-bottom: 100px;
  }

  .feedback__author-name {
    text-align: left;
  }

  .feedback__author-text {
    width: 404px;
    margin-left: 0;
    line-height: 1.6;
    text-align: left;
  }

  .feedback__wrapper {
    margin-top: 35px;
    margin-left: 0;
  }

  .feedback__slider-control.arrow {
    width: 15px;
    height: 31px;
    background-image: url("../img/button_slider_768.svg");
  }

  .feedback__slider-control--prev {
    top: 200px;
    left: -25px;
  }

  .feedback__slider-control--next {
    top: 200px;
    right: -25px;
  }
}