.footer {
  background-color: $footer-black;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.footer__address {
  display: block;
  //margin: 0 auto;
  margin-bottom: 15px;
  @include font_r(14px, 400, 1.4);
  color: $footer-creame;
  text-decoration: none;
  cursor: pointer;
}

.footer__tel {
  display: block;
  //margin: 0 auto;
  margin-bottom: 25px;
  @include font_r(14px, 400, 1.4);
  color: $footer-creame;
  text-decoration: none;
  cursor: pointer;
}

.footer__logo-link {
  display: block;
  margin-top: 25px;
}

.footer__social {
  width: 95px;
  margin: 0 auto;
  justify-content: space-between;

  &-vk {
    width: 25px;
    height: 14px;
    fill: $brown;
  }

  &-tw {
    width: 22px;
    height: 16px;
    fill: $brown;
  }

  &-fb {
    width: 8px;
    height: 17px;
    fill: $brown;
  }
}

.footer__social .social__item:last-child {
  order: 1;
}

.footer__social .social__item:nth-child(2) {
  order: 2;
}

.footer__social .social__item:first-child {
  order: 3;
}

@media (min-width: 768px) {
   .footer__wrapper {
     display: flex;
     justify-content: space-between;
   }

   .footer__address {
     margin-bottom: 0;
     color: $footer-cream;
     order: 2;
   }

   .footer__tel {
     margin-bottom: 0;
     color: $footer-creame;
     order: 3;
   }
   
   .footer__social {
     margin: 0;
     order: 1;

     &-vk {
      width: 21px;
      height: 12px;
    }
  
    &-tw {
      width: 20px;
      height: 14px;
    }
  
    &-fb {
      width: 7px;
      height: 15px;
    }
   }

  .footer__logo-link {
    display: none;
  }
}

@media (min-width: 1366px) {
  .footer {
    padding-top: 75px;
    padding-bottom: 60px;
  }

  .footer__wrapper {
    width: 850px;
    margin: 0 auto;
    align-items: center;
  }

  .footer__logo-link {
    margin-top: 0;
    display: block;
  }

  .footer__logo {
    margin-top: 0;
  }

  .footer__social {
    width: 70px;
  }
}