.footer {
  background-color: $footer-black;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.footer__address {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  @include font_r(14px, 400, 1.4);
  color: $white;
  text-decoration: none;
  cursor: pointer;
}

.footer__tel {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  @include font_r(14px, 400, 1.4);
  color: $white;
  text-decoration: none;
  cursor: pointer;
}

.footer__logo {
  margin-top: 25px;
}