.header {
  padding-top: 27px;
  padding-bottom: 270px;
  background-color: $header-black;
  background-image: url('../img/redhead_main-koon.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.header__logo-link {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header__inner-wrapper {
  margin-top: 50px;
  text-align: center;
}

.header__city {
  @include font_r(14px, 400, 1.5);
  text-decoration: none;
  color: $brown;
}

.header__title {
  margin-top: 7px;
  margin-bottom: 15px;

  @include font_y(36px, 400, 1.16);
  color: $white;
}

.header__text {
  margin-bottom: 35px;

  @include font_r(14px, 400, 1.4);
  color: $brown;
}

.header__link {
  display: block;
  margin: 0 auto;
  width: 141px;
  padding: 12px 17px;

  @include font_r(12px, 700, 1.18);
  text-decoration: none;
}

.header__social {
  display: none;
}

@media (min-width: 768px) {
  .header {
    background-image: url('../img/redhead_main-koon_768.png');
    padding-bottom: 45px;
  }

  .header__inner-wrapper {
    margin-top: 90px;
    text-align: left;
  }

  .header__city {
    font-size: 16px;
  }

  .header__title {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 340px;
    font-size: 52px;
  }

  .header__text {
    width: 275px;
    margin-bottom: 50px;
    font-size: 16px;
  }

  .header__link {
    display: block;
    margin: 0 auto 0 0;
    width: 200px;
    padding: 18px 37px;
    font-size: 14px;
  }

  .header__social {
    display: flex;
    margin-top: 60px;
    
    &-vk {
      width: 13px;
      height: 9px;
      fill: $white;
      transition: fill 0.3s ease-out;
    }

    &-tw {
      width: 16px;
      height: 11px;
      fill: $white;
      transition: fill 0.3s ease-out;
    }

    &-fb {
      width: 6px;
      height: 12px;
      fill: $white;
      transition: fill 0.3s ease-out;
    }

    &-vk:hover, &-tw:hover, &-fb:hover {
      fill: $brown;
    }

    &-vk:focus, &-tw:focus, &-fb:focus {
      fill: $brown;
    }

    &-vk:active, &-tw:active, &-fb:active {
      opacity: 0.5;
    }
  }

  .header__social .social__item {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 1366px) {
  .header {
    padding-top: 45px;
    padding-bottom: 175px;
    background-image: url('../img/redhead_main-koon_1366.png');
  }

  .header .container {
    position: relative;
  }

  .header__inner-wrapper {
    margin-top: 115px;
    margin-left: 100px;
  }

  .header__social {
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -110px;
    left: 83px;
    &::before {
      content: '';
      display: block;
      margin-bottom: 31px;
      width: 1px;
      height: 77px;
      background-color: rgba(255, 255, 255, 0.6);
    }
  }

  .header__social .social__item {
    margin-bottom: 5px;
    margin-right: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}