.our-team {
  background-color: $header-black;
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-team__title {
  margin-bottom: 30px;
  text-align: center;
  @include font_y(28px, 400, 1.15);
  color: $white;
}

.our-team__subtext {
  //width: 260px;
  //margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
  @include font_r(14px, 300, 1.4);
  color: $brown;
}

.our-team__slider-item {
  position: relative;
  width: 290px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 15px;
  text-align: center;
  background-color: $pets-black;
}

.our-team__slider-img {
  margin-left: -63px;
  position: absolute;
  top: -65px;
  left: 50%;
}

.our-team__inner-wrapper {
  margin: 0;
}

.our-team__staff-name {
  margin-bottom: 6px;
  @include font_r(18px, 500, 1.17);
  color: $brown;
}

.our-team__position-staff {
  display: block;
  margin-bottom: 20px;
  @include font_r(14px, 400, 1.3);
  color: $brown;
  font-style: normal;
}

.out-team__text {
  width: 270px;
  margin: 0 auto;
  @include font_r(14px, 300, 1.4);
  color: rgba(255, 255, 255, 0.7);
}

.our-team__slider {
  position: relative;
}

.our-team__slider-control {
  width: 8px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  
  &--prev {
    position: absolute;
    top: -10px;
    left: 57px;
  }

  &--next {
    transform: rotate(180deg);
    position: absolute;
    top: -10px;
    right: 57px;
  }
}

.our-team__social {
  width: 70px;
  margin: 0 auto;
  margin-top: 25px;
  justify-content: space-between;

  &-vk {
    width: 18px;
    height: 10px;
    fill: $white;
  }

  &-tw {
    width: 16px;
    height: 12px;
    fill: $white;
  }

  &-fb {
    width: 6px;
    height: 13px;
    fill: $white;
  }
}

.our-team__social > .social__item:first-child {
  order: 3;
}

.our-team__social > .social__item:nth-child(2) {
  order: 2;
}

.our-team__social > .social__item:last-child {
  order: 1;
}

@media (min-width: 768px) {
  .our-team {
    padding-top: 80px;
    padding-bottom: 215px;
  }

  .our-team__title {
    margin-bottom: 20px;
    font-size: 36px;
  }

  .our-team__subtext {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 16px;
  }

  .our-team__slider-item {
    width: 600px;
    padding-top: 70px;
    padding-left: 105px;
    padding-bottom: 75px;
    text-align: left;

    &::after {
      content: '';
      display: block;
      width: 650px;
      height: 410px;
      background-color: transparent;
      border: 1px solid $brown;
      position: absolute;
      top: -23px;
      left: -25px;
      z-index: 0;
    }
  }

  .our-team__staff-name {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .our-team__position-staff {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .out-team__text {
    width: 400px;
    margin-left: 0;
    font-size: 16px;
  }

  .our-team__social {
    margin-top: 45px;
    margin-left: 0;

    &-vk {
      width: 22px;
      height: 13px;
    }
  
    &-tw {
      width: 20px;
      height: 14px;
    }
  
    &-fb {
      width: 7px;
      height: 15px;
    } 
  }

  .our-team__slider-img {
    margin-left: 0;
    position: absolute;
    top: 270px;
    left: 365px;
    z-index: 1;
  }

  .our-team__slider-control {
    width: 15px;
    height: 31px;
    //background-color: transparent;
    //cursor: pointer;
    
    &--prev {
      //position: absolute;
      top: 447px;
      left: 365px;
    }
  
    &--next {
      //transform: rotate(180deg);
      //position: absolute;
      top: 447px;
      right: 28px;
    }
  }
}

@media (min-width: 1366px) {
  .our-team {
    padding-bottom: 95px;
  }

  .our-team__slider-item {
    margin-right: 100px;
  }

  .our-team__slider-img {
    top: -24px;
    left: -339px;
  }

  .our-team__slider-control {
    &--prev {
      top: 150px;
      left: -14px;
    }
  
    &--next {
      top: 150px;
      right: -14px;
    }
  }
}