.pets {
  padding-top: 55px;
  padding-bottom: 30px;
  background-color: $pets-black;
  text-align: center;
}

.pets__title {
  margin-bottom: 30px;
  @include font_y(28px, 400, 1.15);
  color: $white;
}

.pets__text {
  @include font_r(14px, 300, 1.4);
  color: $brown;
}

.pets__choise {
  margin: 0 auto;
  margin-top: 40px;
  width: 234px;
  display: flex;
  justify-content: space-between;
}

.pets__cats-ctrl {
  @include font_r(16px, 500, 1.17);
  color: $white;
  opacity: 0.2;
  text-decoration: none;
  transition: opacity 0.3s ease-out;

  &:hover {
    opacity: 1;
  }

  &--active {
    opacity: 1;
  }
}

.pets__slider {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.pets__see-more {
  display: block;
  margin: 0 auto;
  width: 141px;
  padding: 12px 17px;

  @include font_r(12px, 700, 1.18);
  color: $white;
  text-decoration: none;
}

.pets__slider .slider__button--prev {
  position: absolute;
  top: 50%;
  left: 0;
}

.pets__slider .slider__button--next {
  position: absolute;
  top: 50%;
  right: 0;
}

@media (min-width: 768px) {
  .pets {
    padding-top: 100px;
    padding-bottom: 90px;
  }

  .pets__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .pets__text {
    width: 515px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.65;
  }

  .pets__choise {
    width: 260px;
  }

  .pets__cats-ctrl {
    font-size: 18px;
  }

  .pets__see-more {
    width: 200px;
    padding: 18px 37px;
    font-size: 14px;
  }

  .pets__slider-item {
    height: 576px;
  }
}

@media (min-width: 1366px) {
  .pets {
    padding-top: 220px;
  }

  .pets__slider .slider__button {
    display: none;
  }

  .pets__slider .slider {
    width: 1030px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .pets__slider-item {
    height: auto;
    display: block !important;

    &:first-child {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }
}