.pets {
  padding-top: 55px;
  padding-bottom: 30px;
  background-color: $pets-black;
  text-align: center;
}

.pets .container {
  position: relative;
}

.pets__title {
  margin-bottom: 30px;
  @include font_y(28px, 400, 1.15);
  color: $white;
}

.pets__text {
  @include font_r(14px, 300, 1.4);
  color: $brown;
}

.pets__choise {
  margin: 0 auto;
  margin-top: 40px;
  width: 234px;
  display: flex;
  justify-content: space-between;
}

.pets__cats-ctrl {
  @include font_r(16px, 500, 1.17);
  color: $white;
  opacity: 0.2;
  text-decoration: none;
  transition: opacity 0.3s ease-out;

  &:hover {
    opacity: 1;
  }

  &--active {
    opacity: 1;
  }
}

.pets__slider {
  margin-top: 40px;
  margin-bottom: 40px;
}

.pets__see-more {
  display: block;
  margin: 0 auto;
  width: 141px;
  padding: 12px 17px;

  @include font_r(12px, 700, 1.18);
  color: $white;
  text-decoration: none;
}

.pets__slider-control {
  width: 8px;
  height: 20px;
  background-color: $pets-black;
  cursor: pointer;
  
  &--prev {
    position: absolute;
    left: 5%;
    bottom: 230px;
  }

  &--next {
    transform: rotate(180deg);
    position: absolute;
    right: 5%;
    bottom: 230px;
  }
}

@media (min-width: 768px) {
  .pets {
    padding-top: 100px;
    padding-bottom: 90px;
  }

  .pets__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .pets__text {
    width: 515px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.65;
  }

  .pets__choise {
    width: 260px;
  }

  .pets__cats-ctrl {
    font-size: 18px;
  }

  .pets__see-more {
    width: 200px;
    padding: 18px 37px;
    font-size: 14px;
  }

  .pets__slider-control {
    width: 15px;
    height: 30px;
    
    &--prev {
      bottom: 40%;
    }
  
    &--next {
      bottom: 40%;
    }
  }
}

@media (min-width: 1366px) {
  .pets {
    padding-top: 220px;
  }
  
  .pets__slider-control {
    display: none;
  }
}