@import "fonts.scss";
@import "vars.scss";
@import "mixins.scss";
@import "normalize.scss";

@import "blocks/button.scss";
@import "blocks/container.scss";
@import "blocks/social.scss";
@import "blocks/header.scss";
@import "blocks/arrow.scss";
@import "blocks/logo.scss";
@import "blocks/pets.scss";
@import "blocks/features.scss";
@import "blocks/advantages.scss";
@import "blocks/about-care.scss";
@import "blocks/our-team.scss";
@import "blocks/faq.scss";
@import "blocks/feedback.scss";
@import "blocks/footer.scss";

