$white: #ffffff;
$brown: #A07B50;
$light-brown: rgba(160, 123, 80, 0.27);
$header-black: #181617;
$pets-black: #1F1C1D;
$footer-black: #151313;
$cream: #DDD0C3;
$footer-cream: rgba(253,242,230, 0.83);
$footer-creame: #FDF2E6;